In [3]:
#search
a = {'ram':[2187282,21829121],
    'shyam':[77282,828282]}
n = int(input("enter phone"))
for i in a.items():
    if n in i[1]:
        print(i)

enter phone2187282
('ram', [2187282, 21829121])

In [11]:
#delete
a = {'ram':[2187282,21829121],
    'shyam':[77282,828282]}
n = int(input("enter phone = "))
for i in a.items():
    if n in i[1]:
        key = i[0]
        del a[key]
        break
        
print(a)

enter phone = 2187282
{'shyam': [77282, 828282]}

In [19]:
for i in d.items():
    print(i)

('ram', {'physics': 65, 'chemistry': 89, 'math': 90})
('shyam', {'physics': 70, 'chemistry': 87, 'math': 98})

In [20]:
print(d["ram"]["physics"])

65

In [22]:
#update
d["ram"]["physics"]= 69
d

{'ram': {'physics': 69, 'chemistry': 89, 'math': 90},
 'shyam': {'physics': 70, 'chemistry': 87, 'math': 98}}

In [24]:
data = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    physics = int(input("enter maks obtained in physics = "))
    chemistry = int(input("enter maks obtained in cheistry = "))
    math = int(input("enter maks obtained in math = "))
    data[name] = {"physics":physics,"chemistry":chemistry,"math":math}
print(data)

enter n = 2
enter name = ram
enter maks obtained in physics = 65
enter maks obtained in cheistry = 77
enter maks obtained in math = 79
enter name = shyam
enter maks obtained in physics = 47
enter maks obtained in cheistry = 94
enter maks obtained in math = 84
{'ram': {'physics': 65, 'chemistry': 77, 'math': 79}, 'shyam': {'physics': 47, 'chemistry': 94, 'math': 84}}

In [25]:
#d = [{<key>:<value>},{<key>:<value>}{<key>:<value>}] dictinary insdie list
d = [{"name":"ram","phone":9845790546},
    {"name":"shyam", "phone":9864476484},
    {"name":"hari", "phone":9845332896}]
d[2]

{'name': 'hari', 'phone': 9845332896}

In [26]:
for i in d:
    print(i)

{'name': 'ram', 'phone': 9845790546}
{'name': 'shyam', 'phone': 9864476484}
{'name': 'hari', 'phone': 9845332896}

In [27]:
x = {'name': 'avi', 'phone': 98727272}
d.append(x)
d

[{'name': 'ram', 'phone': 9845790546},
 {'name': 'shyam', 'phone': 9864476484},
 {'name': 'hari', 'phone': 9845332896},
 {'name': 'avi', 'phone': 98727272}]

In [2]:
a = {}
print(type(a))

<class 'dict'>

In [3]:
#a = {<key>:<value>,<key>:<value>}
dict_a = {"a":"apple","b":"ball"}
dict_b = {1:"Apple",2:"Ball"}
print(dict_a)
print(dict_b)

{'a': 'apple', 'b': 'ball'}
{1: 'Apple', 2: 'Ball'}

In [4]:
a = {}
a[1] = "apple"
a

{1: 'apple'}

In [5]:
a = {1:"Apple"}
a[1] = "Ant"
a

{1: 'Ant'}

In [6]:
a = {}
a["Ram"] = [988282,9292]
a["Shyam"] = [22992,91292]
a

{'Ram': [988282, 9292], 'Shyam': [22992, 91292]}

In [7]:
d = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone = "))
    d[name] = phone
print(d)

enter n = 2
enter name = ram
enter phone = 2933
enter name = shyam
enter phone = 2228
{'ram': 2933, 'shyam': 2228}

In [8]:
d = {}
d["ram"] = 8382
d["shyam"] = 883
d

{'ram': 8382, 'shyam': 883}

In [9]:
for i in d:
    print(i)

ram
shyam

In [12]:
for i in d.values():
    print(i)

8382
883

In [13]:
for i in d.items():
    print(i)

('ram', 8382)
('shyam', 883)

In [14]:
z = []
for i in d.items():
    z.append(i)
print(z)

[('ram', 8382), ('shyam', 883)]

In [15]:
z = [('Ram', 8776887), ('Shyam', 978979897)]
d = {}
for i in z:
    key = i[0]
    value = i[1]
    d[key] = value
print(d)

{'Ram': 8776887, 'Shyam': 978979897}

In [16]:
d = {"a":"apple"}
d

{'a': 'apple'}

In [17]:
#list inside dictionary
d = {"ram":[329229,929220],
    "shyam":[832829,2929292]}
print(d)
print(d["ram"])

{'ram': [329229, 929220], 'shyam': [832829, 2929292]}
[329229, 929220]

In [ ]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return(x/y)
def cal():
    a = int(input("enter a = "))
    b = int(input("enter b = "))
    o = input("enter operator = ")
    if o == "+":
        value = add(x,y)
        #print("{} + {} = {}".format(x,y,value))
        print(f"{x} + {y} = {value}")
    elif o == "-":
         print(sub(x,y))
    elif 0 =="*":
         print(mul(x,y))
    elif o == "/":
         print(div(x,y))
    else:
        print("invalid operator")
    x = input("enter y for more calculation ")
    if x == 'y':
        cal()

cal()