In [ ]:
#b = open('<filename>' '<modes>')

In [3]:
try:
    b = open('class8am.txt','x')
except:
    print("file already exist")
    b.close()

file already exist

In [5]:
b = open('class8am.txt', 'r')
print(b.read())
b.close()

1. hello wrold
2.hello world
3.hello world
4.hello world
5.hello wrold

In [9]:
b = open('class8am.txt','r')
c = (b.read(10))
print(type(c))
print(c)
b.close()

<class 'str'>
1.hello wo

In [ ]:
#to readline

In [15]:
#to write

b = open('class8am.txt','a')
b.write('\n 5.hello world \n')
b.close()

In [17]:
s = " "
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    age = int(input("enter age = "))
    add = input("enter address")
    info = f"\n{name}{age}{add}\n"
    s = s+info
b = open('data.txt','a')
b.write(s)
b.close()

enter n = 2
enter name = ram
enter age = 23
enter addressbharatpur
enter name = shyam
enter age = 24
enter addresssharadpur

In [20]:
#to open csv file

s = " "
b = open('data.csv','w')
b.write("Name, Age, Address \n")
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    age = int(input("enter age = "))
    add = input("enter address= ")
    info = f"{name},{age},{add}\n"
    s = s+info
b.write(s)
b.close()

enter n = 2
enter name = ram
enter age = 23
enter address= bharatpur
enter name = shyam
enter age = 23
enter address= chitwan

In [21]:
a = open('data.csv','r')
c = a.read()
print(c)
a.close()

Name, Age, Address
 ram,23,bharatpur
shyam,23,chitwan

In [24]:
d = c.split('\n')
print(d)
e = d[0:-1]
print(e)

['Name, Age, Address ', ' ram,23,bharatpur', 'shyam,23,chitwan', '']
['Name, Age, Address ', ' ram,23,bharatpur', 'shyam,23,chitwan']

In [25]:
data = []
for i in e:
    x = i.split(',')
    data.append(x)
print(data)

[['Name', ' Age', ' Address '], [' ram', '23', 'bharatpur'], ['shyam', '23', 'chitwan']]

In [27]:
#to delete file
import os
try:
    os.remove('data.csv')
except:
    print("there is no such file")

there is no such file

In [54]:
import shutil as s
src = 'data.txt'
dest = '../desktop/my_data.txt'
s.copy(src,dest)

'../desktop/my_data.txt'