In [2]:
#list in list
a= [[1,2,3],
    [4,5,6],
    [7,8,9]]
type(a)

list

In [3]:
len(a)

3

In [5]:
a[0][1]

2

In [12]:
data = []
n = int(input("enter n ="))
for i in range(n):
    name = input("enetr name = ")
    age = input("enter age = ")
    address = input("enter address")
    info = [name , age , address]
    data.append(info)
print(data)

enter n =2
enetr name = jaj
enter age = 28
enter addressajaj
enetr name = aja
enter age = 1
enter addresssjs
[['jaj', '28', 'ajaj'], ['aja', '1', 'sjs']]

In [9]:
data = []
n = int(input("enter n = "))
for i in range(1,n+1):
    name = input("enetr name = ")
    age = input("enter age= ")
    add = input("enter address = ")
    info = [i,name,age,add]
    data.append(info)
print(data)

enter n = 2
enetr name = ra
enter age= 32
enter address = lsl
enetr name = shyam
enter age= 2
enter address = s
[[1, 'ra', '32', 'lsl'], [2, 'shyam', '2', 's']]

In [10]:
for i in data:
    print(i)

[1, 'ra', '32', 'lsl']
[2, 'shyam', '2', 's']

In [11]:
sn = int(input("enter the sn = "))
data[sn-1]

enter the sn = 1

[1, 'ra', '32', 'lsl']

In [2]:
matrix = [[1,2,3],
         [4,5,6],
         [7,8,9]]
for sublist in matrix:
    for i in sublist:
        print(i)

1
2
3
4
5
6
7
8
9

In [4]:
a = [[1,2,3],[4,5,6]]
#b = [7,8,9]#without additional bracket list wise jancha if list inside list ko lagi add bracket
b= [[7,8,9]]
print(a+b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
a = [[1,2,3],[4,5,6]]
a*2

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [10]:
data = []
n = int(input("enter n = "))
for i in range(1,n+1):
    name = input("enter name = ")
    age = input("enter age = ")
    add = input("enter address = ")
    info = [[i,name , age, add]]
    data = data+info
print(data)

enter n = 2
enter name = ram
enter age = 22
enter address = sls
enter name = shyam
enter age = 22
enter address = sksk
[[1, 'ram', '22', 'sls'], [2, 'shyam', '22', 'sksk']]

In [11]:
for i in data:
    print(i)

[1, 'ram', '22', 'sls']
[2, 'shyam', '22', 'sksk']

In [13]:
sn = int(input("enetr serial no = "))
data[sn-1]

enetr serial no = 1

[1, 'ram', '22', 'sls']

In [7]:
data = [[1, 'ram', '22', 'sls'], [2, 'shyam', '22', 'sksk'],[3,'ram',34,'sjjs']]
search = input("enter value you want to search = ")
for i in data:
    if search in i:
        print(i)
#else:
    #print("no")

enter value you want to search = ram
[1, 'ram', '22', 'sls']
yes
[3, 'ram', 34, 'sjjs']
yes

In [18]:
n = int(input("enetr n = "))
data = []
grandtotal = 0
for i in range(n):
    item  = input("enetr the item name = ")
    quantity = int(input("enter quantity = "))
    price = int(input("enter price = "))
    total = price*quantity
    grandtotal = grandtotal+total
    info = [item,quantity,price,total]
    #data = data+info
    data.append(info)
    
    
print(data)
print(grandtotal)

enetr n = 2
enetr the item name = abc
enter quantity = 2
enter price = 30
enetr the item name = xyz
enter quantity = 2
enter price = 30
[['abc', 2, 30, 60], ['xyz', 2, 30, 60]]
120

In [ ]:
a = [['abc', 2, 30, 60], ['xyz', 2, 30, 60]]
search = input("enetr product name = ")
for i in range(len(a)):
    if search in a[i]:
        index = i
print(index)
q = int(input("new quanity = "))
#i = int((input ("index = "))

a[index][1] = q
price = a[index][2]
newtotal = price*q
a[index][3] = newtotal

In [4]:
a = [['abc',2,30,60],
    ['xyz',2,30,60]]
q = int(input("new quanity = "))
i = int(input("enter index = "))
a[i][1] = q
price = a[i][2]
newtotal = price*q
a[i][3] = newtotal
a

new quanity = 4
enter index = 0

[['abc', 4, 30, 120], ['xyz', 2, 30, 60]]

In [6]:
a

[['abc', 4, 30, 120], ['xyz', 2, 30, 60]]

In [ ]:
search = input("enter search= ")
for i in data:
    if search in i:
        data.remove(i)
print(data)