In [1]:
a = set()
print(a)
type(a)

set()

set

In [2]:
a ={}
type(a)

dict

In [3]:
a = {1,2,3}
type(a)
#dir(a)
len(a)

3

In [6]:
#set is unordered
a = {"Apple","ball","1zebra",2,1,1.0}
#a
print(a)

{1, 2, 'Apple', 'ball', '1zebra'}

In [7]:
a[0]

TypeError: 'set' object is not subscriptable

In [8]:
a = {1,2,3,4,1,2,1,6}
print(a)

{1, 2, 3, 4, 6}

In [9]:
a = {1,2,3,4,1,2,1,6}
b = set(a)
a = list(b)
print(a)

[1, 2, 3, 4, 6]

In [10]:
#set is mutable
a = set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [13]:
a = set("python")
b = list("python")
c = tuple("python")
print(a)
print(b)
print(c)

{'o', 'y', 'h', 'p', 'n', 't'}
['p', 'y', 't', 'h', 'o', 'n']
('p', 'y', 't', 'h', 'o', 'n')

In [14]:
a = set()
n = int(input("enetr n = "))
for i in range(n):
    x = int(input("enter value of x = "))
    a.add(x)
print(a)

enetr n = 2
enter value of x = 1
enter value of x = 4
{1, 4}

In [13]:
a = {1,2,3}
b = {4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [17]:
#a = {[1,2,3],[4,5,6]}
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [18]:
a = set()
a.add((1,2,3),)
a

{(1, 2, 3)}

In [19]:
a = {1,2,3}
a.remove(1)
a

{2, 3}

In [22]:
a = {"ram","shyam","hari","gita"}
b = {"sita","gita","hari","shyam"}
a.intersection(b)

{'gita', 'hari', 'shyam'}

In [23]:
#to merge value without redundancy we use union
a.union(b)

{'gita', 'hari', 'ram', 'shyam', 'sita'}

In [24]:
a.difference(b)

{'ram'}

In [ ]:
#joint
#disjoint

In [28]:
a = {1,2,3}
b = {4,5,6}
a.isdisjoint(b)

True

In [26]:
a = {1,2,3}
b = {4,5,6}
a.intersection(b)

set()

In [31]:
a = {1,2,3,4,5,6}
b = {2,3,4}
b.issubset(a)

True

In [32]:
a = {1,2,3,4,5,6}
b = {2,3,4}
a.issuperset(b)

True

In [33]:
a = {"ram","shyam","hari","gita"}
b = {"sita","gita","hari","shyam"}
u = {"gita","sita","ram","hari","shyam","mita","nita"}
union = a.union(b)
u.difference(union)

{'mita', 'nita'}

In [14]:
a = {1,2,3,4,5,6}
b = {2,3,4}
a|b

{1, 2, 3, 4, 5, 6}

In [21]:
#difference of set
a = {1,2,3,4,5,6}
b = {2,3,4}
a

{1, 2, 3, 4, 5, 6}

In [22]:
b

{2, 3, 4}

In [25]:
#a-b
a.difference(b)

{1, 5, 6}