In [1]:
a = "hello world"
print(type(a))
print(a)

<class 'str'>
hello world

In [9]:
print(a[0::2])

hlowrd

In [7]:
print(a[5:])

 world

In [10]:
a = "helo world"
b = len(a)
print(a[b::-1])

dlrow oleh

In [12]:
a = "hello"
b = "world"
print(a+b)

helloworld

In [19]:
#searching
a = "Ram , Shyam , Hari , Ram , Neha"
search = input("enter a value for search = ")
if search in a:
    print("yes")
    print(a.count(search))
else:
    print("no")

enter a value for search = Ram
yes
2

In [16]:
a = "Ram , Shyam , Hari , Ram , Neha"
a.count("Ram")

2

In [20]:
a = "Ram ,Shyam, Hari , Ram, Neha"
b = a.replace("Ram","ram")
print(b)

ram ,Shyam, Hari , ram, Neha

In [22]:
#to delete the string
a = "Ram Shyam Hari  Ram Neha"
b = a.replace("Ram", " ")
print(b)

  Shyam Hari    Neha

In [24]:
a = "Ram"
#a.upper()
a.lower()

'ram'

In [25]:
#here we can use upper lower to remove case sensetivity
a = "Ram , Shyam , Hari , Ram , Neha".lower()
search = input("enter a value for search = ").lower()
if search in a:
    print("yes")
    print(a.count(search))
else:
    print("no")

enter a value for search = RAm
yes
2

In [29]:
#string formatting
#name = "Ram"
#phone = 987477728
#info = name + str(phone)
#info
name = input("enter name = ")
phone = int(input("enter phone number = "))
data = f"Hello i Am {name}. My phone number is {phone}"
print(data)

enter name = Ram
enter phone number = 98377373
hello i Am Ram. My phone number is 98377373

In [32]:
info = str()
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name")
    phone = int(input("enetr phone number = "))
    data =  f"{name} {phone}\n"
    info = info+data
    
print(info)

enter n = 2
enter nameRam
enetr phone number = 983733
enter nameShyam
enetr phone number = 9882
Ram 983733
Shyam 9882

In [41]:
info = str()
grandtotal = 0
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity"))
    total = price*quantity
    data =  f"{name} {price} {quantity} {total}\n"
    info = info+data
    grandtotal = grandtotal+total
    
print(info)
print("grandtotal= ", grandtotal)

enter n = 3
enter nameabc
enter price = 30
enter quantity4
enter namexyz
enter price = 30
enter quantity4
enter nameasd
enter price = 20
enter quantity4
abc 30 4 120
xyz 30 4 120
asd 20 4 80

320

In [43]:
#split
#to change tha data in list form we use split function
a = "Apple Ball Cat Wai-Wai"
b = a.split()
b

['Apple', 'Ball', 'Cat', 'Wai-Wai']

In [44]:
b[0]

'Apple'

In [48]:
a = "abc 30 4 120\nxyz 30 4 120"
print(a)

abc 30 4 120
xyz 30 4 120

In [49]:
a.split("\n")

['abc 30 4 120', 'xyz 30 4 120']

In [19]:
#marksheet
Rollno = int(input("enter student roll no = "))
Name = input("enter student name = ")
Gender = input("enter gender = ")
classno = int(input("enter class number = "))
english = int(input("enter  marks obtained in english = "))
maths = int(input("enter marks obtained in maths = "))
chemistry = int(input("enter marks obtained in chemistry = "))
physics = int(input("enter marks obtained in physics = "))
totalmarksobtained = english+maths+chemistry+physics
percentage = totalmarksobtained/500 *100
print("-------------------------Marksheet--------------")
print("Total marks :", totalmarksobtained)
print("Percentage :", percentage)


if percentage >=80:
    print("Grade : A+1")
    print("Remarks : Excellent")
elif percentage >= 70:
    print("Grade: A")
    print("Remarks : VeryGood")
elif percentage>= 60:
    print("Grade: B")
    print("Remarks :  Good")
elif percentage >= 50:
    print("Grade: C")
    print("Remarks : Average")
elif percentage >=40:
    print("Grade:", D)
    print("Remarks : Needs Improvement")
    
else:
    print("fail")
    print("Remarks : Failure")
    
i = 0
subjectname = " "
if english<32:
    i = i+1
    subjectname += "english"
if maths<32:
    i= i+1
    subjectname += "maths"
if chemistry<32:
    i=i+1
    subjectname+= "chemistry"
if physics<32:
    i=i+1
    subjectname+= "physics"
    
print("failed Subject = ", i)
print("failed subject name = ", subjectname)

enter student roll no = 1
enter student name = Hari
enter gender = Male
enter class number = 12
enter  marks obtained in english = 7
enter marks obtained in maths = 77
enter marks obtained in chemistry = 88
enter marks obtained in physics = 88
-------------------------Marksheet--------------
Total marks : 260
Percentage : 52.0
Grade: C
Remarks : Average
failed Subject 1
failed subject name  english

In [21]:
import time
value = time.process_time()
a=f"this is a fstring {value}"
print(a)

this is a fstring 3.15625

In [ ]:
#list tuple dictionary set