In [ ]:
#tuple is:
#indexing
#ordered
#duplicate
#immutable(unchangeable)

In [2]:
a = tuple()
b =(1,2,3)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [4]:
a = ("apple", "ball", "cat", "dog")
b= ("frog", "sparrow")
print(a+b)
a[1]

('apple', 'ball', 'cat', 'dog', 'frog', 'sparrow')

'ball'

In [5]:
b*2

('frog', 'sparrow', 'frog', 'sparrow')

In [6]:
a =()
b =("apple",)
a+b

('apple',)

In [7]:
y = tuple()
n = int(input("enetr the value of n = "))
for i in range(n):
    x = input("name = ")
    y = y+(x,)
print(y)

enetr the value of n = 3
name = ra
name = hari
name = shyam
('ra', 'hari', 'shyam')

In [11]:
y = tuple()
n = int(input("enetr the value of n = "))
for i in range(n):
    x = int(input("enter x = "))
    y = y+(x,)
print(y)
print("maximum value of x = ", max(y))
print("minimum value of x = ", min(y))
print("sum of x = ", sum(y) )

enetr the value of n = 2
enter x = 1
enter x = 2
(1, 2)
maximum value of x =  2
minimum value of x =  1
sum of x =  3

In [12]:
a = (243,34,234,35,67)
sorted(a)

[34, 35, 67, 234, 243]

In [21]:
a = (1,2,3,4,5,7,8)
b = list(a)
del b[2:4]
b

[1, 2, 5, 7, 8]

In [ ]:
#multi dimensional tuple
a = ((1,2,3),(4,5,6),(7,8,9))
b = [(1,2,3),(4,5,6),(7,8,9)] #tuple inside list
c = ([1,2,3],[4,5,6],[7,8,9]) #list inside tuple

In [22]:
a = ((1,2,3),(4,5,6),(7,8,9))
t = tuple()
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    y = int(input("enter y = "))
    z = int(input("enter z = "))
    t = t+((x,y,z),)
print(t)

enter n = 3
enter x = 1
enter y = 5
enter z = 6
enter x = 4
enter y = 7
enter z = 9
enter x = 7
enter y = 8
enter z = 0
((1, 5, 6), (4, 7, 9), (7, 8, 0))

In [27]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = list(a)
b.append((10,11,12))
print(b)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [32]:
#changing tuple inside tuple to list inside list
y = []
x = ((1,2,3),(4,5,6),(7,8,9))
for i in x:
     y.append(list(i))
print(y)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
b = ()
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in a:
    b = b+(tuple(i),)
print(b)

((1, 2, 3), (4, 5, 6), (7, 8, 9))